<div style="--cols: @RowSize; --rows: @(Cells / RowSize)" class="pokegrid mx-auto">
    @for (var i = 0; i < Cells; i++)
    {
        var index = i;
        var pokemon = PokemonList.ElementAtOrDefault(index);
        <div @onclick="@(() => ChangePokemon(pokemon, index))">
            <PokemonWithItem Pokemon="pokemon" />
        </div>
    }
</div>
